@import-normalize;

body {
  margin: 0;
  font-family: 'Inter-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fef9f9;
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./fonts/Inter/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./fonts/Inter/Inter-Medium.ttf');
}

@font-face {
  font-family: 'Manrope-Regular';
  src: url('./fonts/Manrope/Manrope-Regular.otf');
}

@font-face {
  font-family: 'Manrope-Medium';
  src: url('./fonts/Manrope/Manrope-Medium.otf');
}

@font-face {
  font-family: 'Manrope-SemiBold';
  src: url('./fonts/Manrope/Manrope-SemiBold.otf');
}

@font-face {
  font-family: 'Manrope-Bold';
  src: url('./fonts/Manrope/Manrope-Bold.otf');
}

@font-face {
  font-family: 'Manrope-ExtraBold';
  src: url('./fonts/Manrope/Manrope-ExtraBold.otf');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

header {
  padding: 8px 0;
}
